
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.autism-awareness-logo {
    width: 200px;
    margin: 0 auto;
    display: block;
}
body {
    background-color: rgb(52, 152, 219); /* Azul */
    color: #ffffff; 
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}